.page-spacer {
	height: var(--wp--style--block-gap) !important;
	flex: 0 0 var(--wp--style--block-gap) !important;

	&,
	+ * {
		margin-block-start: var(--wp--preset--spacing--0) !important;
	}
}

.negative-page-spacer {
	height: var(--wp--preset--spacing--0) !important;
	flex: 0 0 var(--wp--preset--spacing--0) !important;
	margin-block-start: calc(-1 * var(--wp--style--block-gap)) !important;

	+ * {
		margin-block-start: var(--wp--preset--spacing--0) !important;
	}
}

.block-editor-block-preview__content-iframe .negative-page-spacer {
	/* When previewing, give it height and colour so it can be selected */
	height: 4rem !important;
	background-color: var(--wp--preset--color--black);
}
