.c-chip {
	background-color: var(--wp--preset--color--accent);
	color: var(--wp--preset--color--accent-inverse);
	padding-inline: 0.5em;
	padding-block: 0;
	margin-inline: 0.5em;
	display: inline-block;
	border-radius: var(--wp--custom--radius--full);
}
