.site-header {
	--header-y-padding: var(--wp--preset--spacing--4);

	/* Set header padding */
	padding-block: var(--header-y-padding);

	/* Make menu stick to the top when you scroll down */
	position: sticky;
	top: var(--wp-admin--admin-bar--height, 0);
	background-color: var(--wp--preset--color--white);
	z-index: var(--wp--custom--z-index--site-header);

	.wp-block-site-logo {
		flex: 0 0 auto;
	}
}
