@use "shared/mixins";

:root {
	--wp--preset--color--t-1: var(--wp--preset--color--brand-1);
	--wp--preset--color--t-2: var(--wp--preset--color--brand-1);
	--wp--preset--color--t-3: var(--wp--preset--color--brand-1);
	--wp--preset--color--t-4: var(--wp--preset--color--brand-1);
	--wp--preset--color--t-5: var(--wp--preset--color--brand-1);
	--wp--preset--color--t-6: var(--wp--preset--color--brand-1);
	--wp--preset--color--body: var(--wp--preset--color--text-2);
	--wp--preset--color--body-large: var(--wp--preset--color--text-2);
	--wp--preset--color--eyebrow: var(--wp--preset--color--text-2);
	--wp--preset--color--button: var(--wp--preset--color--brand-1);
	--wp--preset--color--button-text: var(--wp--preset--color--rich-white);
	--wp--preset--color--button-hover: #0e002d;
	--wp--preset--color--button-hover-text: var(--wp--preset--color--rich-white);
	--wp--preset--color--hyperlink: var(--wp--preset--color--brand-2);
	--wp--preset--color--hyperlink-hover: #dadad2;
	--wp--preset--color--page-background: var(--wp--preset--color--background-3);
	--wp--preset--color--footer-background: var(
		--wp--preset--color--background-2
	);
	--wp--preset--color--post-header-background: var(
		--wp--preset--color--background-2
	);
	--wp--preset--color--focus: #5e9ed6;

	/* Primary colour set */
	--wp--preset--color--primary: var(--wp--preset--color--brand-1);
	--wp--preset--color--primary--t-1: var(--wp--preset--color--rich-white);
	--wp--preset--color--primary--t-2: var(--wp--preset--color--rich-white);
	--wp--preset--color--primary--t-3: var(--wp--preset--color--rich-white);
	--wp--preset--color--primary--t-4: var(--wp--preset--color--rich-white);
	--wp--preset--color--primary--t-5: var(--wp--preset--color--rich-white);
	--wp--preset--color--primary--t-6: var(--wp--preset--color--rich-white);
	--wp--preset--color--primary--body: var(--wp--preset--color--rich-white);
	--wp--preset--color--primary--body-large: var(
		--wp--preset--color--rich-white
	);
	--wp--preset--color--primary--eyebrow: var(--wp--preset--color--rich-white);
	--wp--preset--color--primary--button: var(--wp--preset--color--rich-white);
	--wp--preset--color--primary--button-text: var(--wp--preset--color--brand-1);
	--wp--preset--color--primary--button-hover: var(
		--wp--preset--color--background-3
	);
	--wp--preset--color--primary--button-hover-text: var(
		--wp--preset--color--brand-1
	);
	--wp--preset--color--primary--hyperlink: var(--wp--preset--color--brand-2);
	--wp--preset--color--primary--hyperlink-hover: #dadad2;
	--wp--preset--color--primary--focus: #5e9ed6;

	/* Secondary colour set */
	--wp--preset--color--secondary: var(--wp--preset--color--brand-2);
	--wp--preset--color--secondary--t-1: var(--wp--preset--color--rich-white);
	--wp--preset--color--secondary--t-2: var(--wp--preset--color--rich-white);
	--wp--preset--color--secondary--t-3: var(--wp--preset--color--rich-white);
	--wp--preset--color--secondary--t-4: var(--wp--preset--color--rich-white);
	--wp--preset--color--secondary--t-5: var(--wp--preset--color--rich-white);
	--wp--preset--color--secondary--t-6: var(--wp--preset--color--rich-white);
	--wp--preset--color--secondary--body: var(--wp--preset--color--rich-white);
	--wp--preset--color--secondary--body-large: var(
		--wp--preset--color--rich-white
	);
	--wp--preset--color--secondary--eyebrow: var(--wp--preset--color--rich-white);
	--wp--preset--color--secondary--button: var(--wp--preset--color--rich-white);
	--wp--preset--color--secondary--button-text: var(
		--wp--preset--color--brand-1
	);
	--wp--preset--color--secondary--button-hover: var(
		--wp--preset--color--background-3
	);
	--wp--preset--color--secondary--button-hover-text: var(
		--wp--preset--color--brand-1
	);
	--wp--preset--color--secondary--hyperlink: var(
		--wp--preset--color--rich-white
	);
	--wp--preset--color--secondary--hyperlink-hover: var(
		--wp--preset--color--text-1
	);
	--wp--preset--color--secondary--focus: #5e9ed6;

	/* Accent colour set */
	--wp--preset--color--accent: var(--wp--preset--color--brand-3);
	--wp--preset--color--accent--t-1: var(--wp--preset--color--brand-1);
	--wp--preset--color--accent--t-2: var(--wp--preset--color--brand-1);
	--wp--preset--color--accent--t-3: var(--wp--preset--color--brand-1);
	--wp--preset--color--accent--t-4: var(--wp--preset--color--brand-1);
	--wp--preset--color--accent--t-5: var(--wp--preset--color--brand-1);
	--wp--preset--color--accent--t-6: var(--wp--preset--color--brand-1);
	--wp--preset--color--accent--body: var(--wp--preset--color--text-1);
	--wp--preset--color--accent--body-large: var(--wp--preset--color--text-1);
	--wp--preset--color--accent--eyebrow: var(--wp--preset--color--text-1);
	--wp--preset--color--accent--button: var(--wp--preset--color--brand-1);
	--wp--preset--color--accent--button-text: var(
		--wp--preset--color--rich-white
	);
	--wp--preset--color--accent--button-hover: #0e002d;
	--wp--preset--color--accent--button-hover-text: var(
		--wp--preset--color--rich-white
	);
	--wp--preset--color--accent--hyperlink: var(--wp--preset--color--brand-1);
	--wp--preset--color--accent--hyperlink-hover: var(
		--wp--preset--color--text-2
	);
	--wp--preset--color--accent--focus: #5e9ed6;

	/* Form colours */
	--form-input-background-colour: var(--wp--preset--color--background-3);
	--form-input-border-colour: var(--wp--preset--color--border-2);
	--form-input-background-colour--invalid: #f8e4e6;
	--form-input-border-colour--invalid: #dc2626;
	--form-input-text-colour: var(--wp--preset--color--brand-1);
	--form-input-accent-colour: var(--wp--preset--color--brand-2);
	--form-input-accent-text-colour: var(--wp--preset--color--rich-white);
	--form-label-colour: var(--wp--preset--color--brand-1);
	--form-sub-label-colour: var(--wp--preset--color--brand-1);
	--form-input-placeholder-text-colour: var(--wp--preset--color--text-2);
	--form-input-required-text-colour: #dc2626;
	--form-error-background-colour: #dc2626;
	--form-error-text-colour: var(--wp--preset--color--rich-white);
}

.has-brand-1-background-color {
	--wp--preset--color--t-1: var(--wp--preset--color--primary--t-1);
	--wp--preset--color--t-2: var(--wp--preset--color--primary--t-2);
	--wp--preset--color--t-3: var(--wp--preset--color--primary--t-3);
	--wp--preset--color--t-4: var(--wp--preset--color--primary--t-4);
	--wp--preset--color--t-5: var(--wp--preset--color--primary--t-5);
	--wp--preset--color--t-6: var(--wp--preset--color--primary--t-6);
	--wp--preset--color--body: var(--wp--preset--color--primary--body);
	--wp--preset--color--body-large: var(
		--wp--preset--color--primary--body-large
	);
	--wp--preset--color--eyebrow: var(--wp--preset--color--primary--eyebrow);
	--wp--preset--color--button: var(--wp--preset--color--primary--button);
	--wp--preset--color--button-text: var(
		--wp--preset--color--primary--button-text
	);
	--wp--preset--color--button-hover: var(
		--wp--preset--color--primary--button-hover
	);
	--wp--preset--color--button-hover-text: var(
		--wp--preset--color--primary--button-hover-text
	);
	--wp--preset--color--hyperlink: var(--wp--preset--color--primary--hyperlink);
	--wp--preset--color--hyperlink-hover: var(
		--wp--preset--color--primary--hyperlink-hover
	);
	--wp--preset--color--focus: var(--wp--preset--color--primary--focus);
}

.has-brand-2-background-color {
	--wp--preset--color--t-1: var(--wp--preset--color--secondary--t-1);
	--wp--preset--color--t-2: var(--wp--preset--color--secondary--t-2);
	--wp--preset--color--t-3: var(--wp--preset--color--secondary--t-3);
	--wp--preset--color--t-4: var(--wp--preset--color--secondary--t-4);
	--wp--preset--color--t-5: var(--wp--preset--color--secondary--t-5);
	--wp--preset--color--t-6: var(--wp--preset--color--secondary--t-6);
	--wp--preset--color--body: var(--wp--preset--color--secondary--body);
	--wp--preset--color--body-large: var(
		--wp--preset--color--secondary--body-large
	);
	--wp--preset--color--eyebrow: var(--wp--preset--color--secondary--eyebrow);
	--wp--preset--color--button: var(--wp--preset--color--secondary--button);
	--wp--preset--color--button-text: var(
		--wp--preset--color--secondary--button-text
	);
	--wp--preset--color--button-hover: var(
		--wp--preset--color--secondary--button-hover
	);
	--wp--preset--color--button-hover-text: var(
		--wp--preset--color--secondary--button-hover-text
	);
	--wp--preset--color--hyperlink: var(
		--wp--preset--color--secondary--hyperlink
	);
	--wp--preset--color--hyperlink-hover: var(
		--wp--preset--color--secondary--hyperlink-hover
	);
	--wp--preset--color--focus: var(--wp--preset--color--secondary--focus);
}

.has-brand-3-background-color {
	--wp--preset--color--t-1: var(--wp--preset--color--accent--t-1);
	--wp--preset--color--t-2: var(--wp--preset--color--accent--t-2);
	--wp--preset--color--t-3: var(--wp--preset--color--accent--t-3);
	--wp--preset--color--t-4: var(--wp--preset--color--accent--t-4);
	--wp--preset--color--t-5: var(--wp--preset--color--accent--t-5);
	--wp--preset--color--t-6: var(--wp--preset--color--accent--t-6);
	--wp--preset--color--body: var(--wp--preset--color--accent--body);
	--wp--preset--color--body-large: var(--wp--preset--color--accent--body-large);
	--wp--preset--color--eyebrow: var(--wp--preset--color--accent--eyebrow);
	--wp--preset--color--button: var(--wp--preset--color--accent--button);
	--wp--preset--color--button-text: var(
		--wp--preset--color--accent--button-text
	);
	--wp--preset--color--button-hover: var(
		--wp--preset--color--accent--button-hover
	);
	--wp--preset--color--button-hover-text: var(
		--wp--preset--color--accent--button-hover-text
	);
	--wp--preset--color--hyperlink: var(--wp--preset--color--accent--hyperlink);
	--wp--preset--color--hyperlink-hover: var(
		--wp--preset--color--accent--hyperlink-hover
	);
	--wp--preset--color--focus: var(--wp--preset--color--accent--focus);
}

.has-text-1-background-color,
.has-text-2-background-color,
.has-rich-black-background-color {
	--wp--preset--color--t-1: var(--wp--preset--color--rich-white);
	--wp--preset--color--t-2: var(--wp--preset--color--rich-white);
	--wp--preset--color--t-3: var(--wp--preset--color--rich-white);
	--wp--preset--color--t-4: var(--wp--preset--color--rich-white);
	--wp--preset--color--t-5: var(--wp--preset--color--rich-white);
	--wp--preset--color--t-6: var(--wp--preset--color--rich-white);
	--wp--preset--color--body: var(--wp--preset--color--rich-white);
	--wp--preset--color--body-large: var(--wp--preset--color--rich-white);
	--wp--preset--color--eyebrow: var(--wp--preset--color--rich-white);
	--wp--preset--color--button: var(--wp--preset--color--rich-white);
	--wp--preset--color--button-text: var(--wp--preset--color--brand-1);
	--wp--preset--color--button-hover: var(--wp--preset--color--background-3);
	--wp--preset--color--button-hover-text: var(--wp--preset--color--brand-1);
	--wp--preset--color--hyperlink: var(--wp--preset--color--brand-3);
	--wp--preset--color--hyperlink-hover: var(--wp--preset--color--rich-white);
	--wp--preset--color--focus: #5e9ed6;
}

.has-border-1-background-color,
.has-border-2-background-color,
.has-background-1-background-color,
.has-background-2-background-color,
.has-background-3-background-color,
.has-rich-white-background-color {
	--wp--preset--color--t-1: var(--wp--preset--color--brand-1);
	--wp--preset--color--t-2: var(--wp--preset--color--brand-1);
	--wp--preset--color--t-3: var(--wp--preset--color--brand-1);
	--wp--preset--color--t-4: var(--wp--preset--color--brand-1);
	--wp--preset--color--t-5: var(--wp--preset--color--brand-1);
	--wp--preset--color--t-6: var(--wp--preset--color--brand-1);
	--wp--preset--color--body: var(--wp--preset--color--text-1);
	--wp--preset--color--body-large: var(--wp--preset--color--text-1);
	--wp--preset--color--eyebrow: var(--wp--preset--color--text-1);
	--wp--preset--color--button: var(--wp--preset--color--brand-1);
	--wp--preset--color--button-text: var(--wp--preset--color--rich-white);
	--wp--preset--color--button-hover: #0e002d;
	--wp--preset--color--button-hover-text: var(--wp--preset--color--rich-white);
	--wp--preset--color--hyperlink: var(--wp--preset--color--brand-1);
	--wp--preset--color--hyperlink-hover: var(--wp--preset--color--text-2);
	--wp--preset--color--focus: #5e9ed6;
}

.test-eyebrow-style {
	@include mixins.typography-style-eyebrow;
}

.test-focus-colour a {
	outline: 2px solid var(--wp--preset--color--focus);
	outline-offset: 1px;
}
