:root {
	--wp--preset--color--headings: var(--wp--preset--color--brand-1);
	--wp--preset--color--text-colour: var(--wp--preset--color--text-2);
	--wp--preset--color--meta-colour: var(--wp--preset--color--text-2);
	--wp--preset--color--button: var(--wp--preset--color--brand-1);
	--wp--preset--color--button-hover: #0e002d;
	--wp--preset--color--hyperlink: var(--wp--preset--color--brand-2);
	--wp--preset--color--hyperlink-hover: #dadad2;
	--wp--preset--color--page-background: var(--wp--preset--color--background-3);
	--wp--preset--color--footer-background: var(
		--wp--preset--color--background-2
	);
	--wp--preset--color--post-header-background: var(
		--wp--preset--color--background-2
	);
	--wp--preset--color--focus: #5e9ed6;

	/* Primary colour set */
	--wp--preset--color--primary: var(--wp--preset--color--brand-1);
	--wp--preset--color--primary--headings: var(--wp--preset--color--rich-white);
	--wp--preset--color--primary--text-colour: var(
		--wp--preset--color--rich-white
	);
	--wp--preset--color--primary--hyperlink: var(--wp--preset--color--brand-2);
	--wp--preset--color--primary--hyperlink-hover: #dadad2;
	--wp--preset--color--primary--focus: #5e9ed6;

	/* Secondary colour set */
	--wp--preset--color--secondary: var(--wp--preset--color--brand-2);
	--wp--preset--color--secondary--headings: var(
		--wp--preset--color--rich-white
	);
	--wp--preset--color--secondary--text-colour: var(
		--wp--preset--color--rich-white
	);
	--wp--preset--color--secondary--hyperlink: var(--wp--preset--color--brand-1);
	--wp--preset--color--secondary--hyperlink-hover: #dadad2;
	--wp--preset--color--secondary--focus: #5e9ed6;

	/* Accent colour set */
	--wp--preset--color--accent: var(--wp--preset--color--brand-3);
	--wp--preset--color--accent--headings: var(--wp--preset--color--brand-1);
	--wp--preset--color--accent--text-colour: var(--wp--preset--color--text-1);
	--wp--preset--color--accent--hyperlink: var(--wp--preset--color--brand-1);
	--wp--preset--color--accent--hyperlink-hover: var(
		--wp--preset--color--text-2
	);
	--wp--preset--color--accent--focus: #5e9ed6;

	/* Form colours */
	--form-input-background-colour: var(--wp--preset--color--background-3);
	--form-input-border-colour: var(--wp--preset--color--border-2);
	--form-input-background-colour--invalid: #f8e4e6;
	--form-input-border-colour--invalid: #dc2626;
	--form-input-text-colour: var(--wp--preset--color--brand-1);
	--form-input-accent-colour: var(--wp--preset--color--brand-2);
	--form-input-accent-text-colour: var(--wp--preset--color--rich-white);
	--form-label-colour: var(--wp--preset--color--brand-1);
	--form-sub-label-colour: var(--wp--preset--color--brand-1);
	--form-input-placeholder-text-colour: var(--wp--preset--color--text-2);
	--form-input-required-text-colour: #dc2626;
	--form-error-background-colour: #dc2626;
	--form-error-text-colour: var(--wp--preset--color--rich-white);
}

.has-brand-1-background-color {
	--typography-t-1-colour: var(--wp--preset--color--primary--headings);
	--typography-t-2-colour: var(--wp--preset--color--primary--headings);
	--typography-t-3-colour: var(--wp--preset--color--primary--headings);
	--typography-t-4-colour: var(--wp--preset--color--primary--headings);
	--typography-t-5-colour: var(--wp--preset--color--primary--headings);
	--typography-t-6-colour: var(--wp--preset--color--primary--headings);
	--wp--preset--color--text-colour: var(
		--wp--preset--color--primary--text-colour
	);
	--wp--preset--color--hyperlink: var(--wp--preset--color--primary--hyperlink);
	--wp--preset--color--hyperlink-hover: var(
		--wp--preset--color--primary--hyperlink-hover
	);
	--wp--preset--color--focus: var(--wp--preset--color--primary--focus);

	color: var(
		--wp--preset--color--text-colour
	); // Reset colour value to variable to apply cascaded value properly.
}

.has-brand-2-background-color {
	--typography-t-1-colour: var(--wp--preset--color--secondary--headings);
	--typography-t-2-colour: var(--wp--preset--color--secondary--headings);
	--typography-t-3-colour: var(--wp--preset--color--secondary--headings);
	--typography-t-4-colour: var(--wp--preset--color--secondary--headings);
	--typography-t-5-colour: var(--wp--preset--color--secondary--headings);
	--typography-t-6-colour: var(--wp--preset--color--secondary--headings);
	--wp--preset--color--text-colour: var(
		--wp--preset--color--secondary--text-colour
	);
	--wp--preset--color--hyperlink: var(
		--wp--preset--color--secondary--hyperlink
	);
	--wp--preset--color--hyperlink-hover: var(
		--wp--preset--color--secondary--hyperlink-hover
	);
	--wp--preset--color--focus: var(--wp--preset--color--secondary--focus);

	color: var(
		--wp--preset--color--text-colour
	); // Reset colour value to variable to apply cascaded value properly.
}

.has-brand-3-background-color {
	--typography-t-1-colour: var(--wp--preset--color--accent--headings);
	--typography-t-2-colour: var(--wp--preset--color--accent--headings);
	--typography-t-3-colour: var(--wp--preset--color--accent--headings);
	--typography-t-4-colour: var(--wp--preset--color--accent--headings);
	--typography-t-5-colour: var(--wp--preset--color--accent--headings);
	--typography-t-6-colour: var(--wp--preset--color--accent--headings);
	--wp--preset--color--text-colour: var(
		--wp--preset--color--accent--text-colour
	);
	--wp--preset--color--hyperlink: var(--wp--preset--color--accent--hyperlink);
	--wp--preset--color--hyperlink-hover: var(
		--wp--preset--color--accent--hyperlink-hover
	);
	--wp--preset--color--focus: var(--wp--preset--color--accent--focus);

	color: var(
		--wp--preset--color--text-colour
	); // Reset colour value to variable to apply cascaded value properly.
}

.has-text-1-background-color,
.has-text-2-background-color,
.has-rich-black-background-color {
	--typography-t-1-colour: var(--wp--preset--color--rich-white);
	--typography-t-2-colour: var(--wp--preset--color--rich-white);
	--typography-t-3-colour: var(--wp--preset--color--rich-white);
	--typography-t-4-colour: var(--wp--preset--color--rich-white);
	--typography-t-5-colour: var(--wp--preset--color--rich-white);
	--typography-t-6-colour: var(--wp--preset--color--rich-white);
	--wp--preset--color--text-colour: var(--wp--preset--color--rich-white);
	--wp--preset--color--hyperlink: var(--wp--preset--color--rich-white);
	--wp--preset--color--hyperlink-hover: var(--wp--preset--color--brand-2);

	color: var(
		--wp--preset--color--text-colour
	); // Reset colour value to variable to apply cascaded value properly.
}

.has-border-1-background-color,
.has-border-2-background-color,
.has-background-1-background-color,
.has-background-2-background-color,
.has-background-3-background-color,
.has-rich-white-background-color {
	--typography-t-1-colour: var(--wp--preset--color--brand-1);
	--typography-t-2-colour: var(--wp--preset--color--brand-1);
	--typography-t-3-colour: var(--wp--preset--color--brand-1);
	--typography-t-4-colour: var(--wp--preset--color--brand-1);
	--typography-t-5-colour: var(--wp--preset--color--brand-1);
	--typography-t-6-colour: var(--wp--preset--color--brand-1);
	--wp--preset--color--text-colour: var(--wp--preset--color--text-1);
	--wp--preset--color--hyperlink: var(--wp--preset--color--text-1);
	--wp--preset--color--hyperlink-hover: var(--wp--preset--color--brand-2);

	color: var(
		--wp--preset--color--text-colour
	); // Reset colour value to variable to apply cascaded value properly.
}
