/**
 * This file contains any styling which affects the content and should only be shown on the editor side
 */
@use "sass:meta";

// Is root container ensures the styles are only applied to content in the editor.
.is-root-container {
	@include meta.load-css("styles");

	// Add all form styles (performance is less of a concern for admin side.
	@include meta.load-css("forms/gravity-forms");

	/* stylelint-disable-next-line no-duplicate-selectors -- Allow to opt into new scss behaviour */
	& {
		font-family: var(--typography-font-families-body);
	}

	&:has(.site-header-editor) {
		--header-y-padding: var(--wp--preset--spacing--4);

		background-color: var(--wp--preset--color--rich-white);
		padding-block: var(--header-y-padding);

		.wp-block-site-logo {
			flex: 0 0 auto;
		}
	}
}
