@use "../../shared/mixins";
@use "../../forms/common";

.post_password_form {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	max-width: 800px;
	margin-inline: auto;
}

.post_password_input_group {
	flex: 1 0 10rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.post_password_label {
	@include mixins.typography-style-body-large;

	color: var(--wp--preset--color--t-2);
	font-weight: 700;
	display: block;
}

.post_password_input {
	@extend %single-line-input;
}

.post_password_submit {
	@extend %form-button;

	height: 60px;
	width: 150px;
	min-width: auto;
	align-self: end;
}

.post-password-form-invalid-password {
	@extend %error-message;

	&::before {
		margin-block-start: 0;
	}
}
