.c-chip {
	background-color: var(--wp--preset--color--primary);
	color: var(--wp--preset--color--primary--body);
	padding-inline: var(--wp--preset--spacing--1);
	padding-block: 0;
	margin-inline: var(--wp--preset--spacing--1);
	padding: var(--wp--preset--spacing--1);
	display: inline-block;
	border-radius: var(--wp--custom--radius--full);

	&.secondary {
		background-color: var(--wp--preset--color--secondary);
		color: var(--wp--preset--color--secondary--body);
	}

	&.accent {
		background-color: var(--wp--preset--color--accent);
		color: var(--wp--preset--color--accent--body);
	}
}

.c-chip--square {
	border-radius: 0;
}

.c-chip--rounded {
	border-radius: var(--wp--custom--radius--rounded);
}
