/* Prevent font size inflation */
html {
	text-size-adjust: none;
}

/* Prevent browsers from setting their own font sizes for our elements */
input,
button,
textarea,
select {
	font: inherit;
}

.has-heading-1-font-size {
	line-height: var(--wp--custom--line-height--heading-1);
}

.is-style-h1,
h1.is-style-default,
h1:not([class^="is-style"]) {
	font-size: var(--wp--preset--font-size--heading-1);
	line-height: var(--wp--custom--line-height--heading-1);
}

.has-heading-2-font-size {
	line-height: var(--wp--custom--line-height--heading-2);
}

.is-style-h2,
h2.is-style-default,
h2:not([class^="is-style"]) {
	font-size: var(--wp--preset--font-size--heading-2);
	line-height: var(--wp--custom--line-height--heading-2);
}

.has-heading-3-font-size {
	line-height: var(--wp--custom--line-height--heading-3);
}

.is-style-h3,
h3.is-style-default,
h3:not([class^="is-style"]) {
	font-size: var(--wp--preset--font-size--heading-3);
	line-height: var(--wp--custom--line-height--heading-3);
}

.has-heading-4-font-size {
	line-height: var(--wp--custom--line-height--heading-4);
}

.is-style-h4,
h4.is-style-default,
h4:not([class^="is-style"]) {
	font-size: var(--wp--preset--font-size--heading-4);
	line-height: var(--wp--custom--line-height--heading-4);
}

.has-heading-5-font-size {
	line-height: var(--wp--custom--line-height--heading-5);
}

.is-style-h5,
h5.is-style-default,
h5:not([class^="is-style"]) {
	font-size: var(--wp--preset--font-size--heading-5);
	line-height: var(--wp--custom--line-height--heading-5);
}

.has-heading-6-font-size {
	line-height: var(--wp--custom--line-height--heading-6);
}

.is-style-h6,
h6.is-style-default,
h6:not([class^="is-style"]) {
	font-size: var(--wp--preset--font-size--heading-6);
	line-height: var(--wp--custom--line-height--heading-6);
}

.is-style-body,
p.is-style-default,
p:not([class^="is-style"]) {
	font-size: var(--wp--preset--font-size--body);
	line-height: var(--wp--custom--line-height--body);
}

.is-style-small,
small.is-style-default,
small:not([class^="is-style"]) {
	font-size: var(--wp--preset--font-size--small);
	line-height: var(--wp--custom--line-height--small);
}
